.Rproj.user
.Rhistory
.RData
.Ruserdata
Genetic_pairs_analysis_Oct_2020/processed_data/PI/dataframes/kinetics/PI.kinetics.csv
5-Data_processing/.DS_Store
5-Data_processing/processed_data/neb_mutants/.DS_Store
5-Data_processing/.DS_Store
5-Data_processing/processed_data/neb_mutants/.DS_Store
5-Data_processing/processed_data/clinical_strains/.DS_Store
5-Data_processing/processed_data/clinical_strains/.DS_Store
6-InToxSa_paper/Generate_datasets/.DS_Store
6-InToxSa_paper/Generate_datasets/processed_data/.DS_Store
.DS_Store
.DS_Store
6-InToxSa_paper/.DS_Store
.DS_Store
